.banner {
    background: var(--cor-banner-primaria);
    color: var(--cor-background-secundaria);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 32px 0px 32px 0px;
}

.banner__titulo {
    font-size: 18px;
    font-weight: 700;
}

.banner__descricao {
    font-size: 16px;
    width: 316px;
    margin-top: 8px;
}

.banner-pesquisa {
    margin-top: 24px;
    border-radius: 24px;
    border: 1px solid;
    border-color: var(--fonte-primaria);
    color: var(--fonte-primaria);
    width: 380px;
    height: 44px;
    text-align: center;
    background: transparent;
}

.banner-pesquisa::placeholder {
    color: var(--fonte-primaria);
    font-size: 14px;
    font-weight: 400;
    background: url("../images/Pesquisa.svg") no-repeat;
    background-position: 3em;
}

.lancamentos__titulos {
    font-size: 18px;
    text-transform: uppercase;
    color: var(--cor-fonte-secundaria);
    padding-top: 20px;
    padding-bottom: 8px;
    text-align: center;
    background-color: var(--cor-background-secundaria);
    font-weight: 700;
}

.swiper-slide img {
    width: 100%
}

.swiper-button-next,
.swiper-button-prev {
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: 1em;
}

.card-1 {
    background-color: var(--cor-background-secundaria);
    margin: 20px 24px 20px 24px;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


.card-1__textos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 169px;
    height: 254px;
}

.card-1__textos__titulo {
    color: var(--cor-fonte-secundaria);
    font-size: 16px;
    font-weight: 700;
}

.card-1__textos__substitulo {
    color: #002f52;
    font-size: 18px;
    font-weight: 700;
}

.card-1__textos__texto {
    color: #000000;
    font-size: 14px;
    font-weight: 400;
}

.card-1__imagem {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.card-1__imagem__link {
    background-color: var(--cor-fonte-secundaria);
    padding: 12px 16px 12px 16px;
    color: var(--cor-background-secundaria);
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}

.mais-vendidos__titulo {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    color: var(--cor-fonte-secundaria);
    background-color: var(--cor-background-secundaria);
    text-align: center;
    padding: 24px 142px 8px 142px;
}

.card-mais-vendidos {
    display: flex;
    justify-content: space-between;
    background-color: var(--cor-background-secundaria);
    margin: 25px 23px 15px 25px;
    padding: 16px 16px 25px 16px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.card-mais-vendidos__texto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 169px;
}

.card-mais-vendidos__estrelas {
    width: 91px;
}

.card-mais-vendidos__titulo {
    font-size: 16px;
    font-weight: 700;
    color: var(--cor-fonte-secundaria);
}

.card-mais-vendidos__autora {
    font-size: 18px;
    font-weight: 700;
    color: var(--cor-fonte-secundaria-gradiente);
}

.card-mais-vendidos__descricao {
    font-size: 14px;
    color: #000000;
}

.card-mais-vendidos__imagem {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.card-mais-vendidos__imagem__link {
    background-color: var(--cor-fonte-secundaria);
    text-align: center;
    font-size: 16px;
    padding: 12px 16px;
    text-decoration: none;
    color: var(--cor-background-secundaria);
    font-weight: 700;
}

.topicos-visitados {
    background-color: var(--cor-background-secundaria);
    padding-top: 16px;
}

.topicos-visitados__banner {
    background: var(--cor-banner-primaria);
    padding: 24px 15.79px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.topicos-visitados__banner__titulo {
    font-size: 16px;
    color: var(--cor-background-secundaria);
    font-weight: 300;
    text-transform: uppercase;
}

.topicos-visitados__banner__item {
    padding: 16px 24px;
    background-color: var(--cor-fonte-secundaria);

}

.topicos_visitados__banner__itens {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}

.topicos-visitados__banner__item__link {
    text-decoration: none;
    color: var(--cor-background-secundaria);
}

.newsletter {
    background-color: var(--cor-background-secundaria);
    padding: 24px;
}

.newsletter__titulo {
    font-size: 18px;
    color: var(--cor-fonte-secundaria-gradiente);
    font-weight: 500;
    margin-bottom: 8px;
}

.newsletter__descricao {
    font-size: 16px;
    color: var(--cor-fonte-secundaria-gradiente);
    font-weight: 300;
    margin-bottom: 24px;
}

.newsletter__email {
    width: 320px;
    padding: 10px 24px;
    border-radius: 24px;
    border: 1px solid;
    border-color: var(--cor-fonte-secundaria-gradiente);
    text-align: center;
}

.newsletter__email::placeholder {
    font-size: 16px;
    color: var(--cor-fonte-secundaria-gradiente);
    background: url("../images/Email.svg") no-repeat;
    background-position: 3px;
    text-align: center;
}

.rodape {
    background-color: #F9F9F9;
    border-top: 2px solid;
    border-color: gray;
    padding: 17px 24px;
}

.footer-texto {
    font-size: 16px;
    font-weight: 400;
}

.topicos-visitados__banner__titulo {
    font-size: 16px;
}

.cabecalho__icone__texto {
    display: none;
}


@media screen and (min-width: 1024px) {
    .banner {
        padding: 84px 232px;
    }

    .banner__titulo {
        font-size: 36px;
    }

    .banner__descricao {
        width: 100%;
        font-size: 16px;
    }

    .banner-pesquisa {
        width: 476px;
        height: 56px;
    }

    .banner-pesquisa::placeholder {
        font-size: 16px;
    }

    .lancamentos__titulos {
        font-size: 26px;
        padding-top: 51px;
        padding-bottom: 16px;
    }

    .swiper-button-next,
    .swiper-button-prev {
        display: block;
    }

    .swiper {
        width: 801px;
    }

    .swiper-slide {
        padding: 61.5px 0;
    }

    .card-1 {
        width: 588px;
        margin: 0 219px 48px 219px;
        padding: 23px;
        justify-content: space-between;
    }

    .card-1__textos {
        width: 100%;
        padding-top: 23px;
        height: 0px;
        justify-content: flex-start;
        gap: 8px;
    }

    .card-1__textos__texto {
        width: 318px;
    }

    .card-1__textos__icones {
        margin-top: 41px;
    }

    .card-1__textos__texto {
        font-size: 18px;
    }

    .mais-vendidos__titulo {
        font-size: 26px;
        padding-top: 57px;
        padding-bottom: 16px;
    }

    .card-mais-vendidos {
        width: 588px;
        margin: 0 219px 48px 219px;
    }

    .card-mais-vendidos__texto {
        width: 335px;
    }

    .topicos-visitados {
        padding-top: 0;
    }

    .topicos-visitados__banner {
        padding: 32px 140.5px;
    }

    .topicos-visitados__banner__titulo {
        font-size: 24px;
    }

    .topicos-visitados__banner__item {
        padding: 24px 32px;
    }

    .topicos-visitados__banner__item__link {
        font-size: 24px;
    }

    .newsletter {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 150px;
    }

    .newsletter__textos {
        display: flex;
        flex-direction: column;
        gap: 19px;
        width: 376px;
    }

    .newsletter__titulo {
        font-size: 24px;
    }
}

@media screen and (min-width: 1728px) {

    .cabecalho__icone__texto {
        display: block;

    }

    .cabecalho-icone {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #000000;
        font-size: 20px;
    }

    .lancamentos__conteudos {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 114px 175px;
    }

    .swiper-wrapper {
        width: 745px;
        height: 253.51;
    }

    .swiper-slide {
        padding: 0;
        margin: 0;
    }

    .swiper-slide img {
        width: 180px;
    }

    .card-1 {
        margin: 0;
    }


}